.git
.github
.DS_Store

node_modules
dist
coverage

.env
.env.local
backend/CollabOS.Api/.env
backend/CollabOS.Api/.env.local

backend/CollabOS.Api/bin
backend/CollabOS.Api/obj

npm-debug.log
yarn-error.log
